* {
    margin: 0;
    padding: 0;
}
div{
	transform-style: preserve-3d;
}
header {
    padding: 2em 100px; 
}
body{
	animation: body 2s forwards;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: 0;
  	height: 100vh;
 	perspective: 125vmin;
 	-webkit-filter: drop-shadow(-1vmin 1vmin 1vmin #000);
}
span{
}
h1{
	cursor: default;
	color: #1F6FEB;
}
a{
	color: black;
	text-decoration: none;
}

#caixa{
	display: inline-block;
	margin: 0;
	position: relative;
}
#caixa a{
	cursor: pointer;
}
#caixa a div:hover{
	color: #fff;
}
#caixa h2{
	margin: 25px 0;
}
#eu{
	float: left;
	width: 500px;
	height: 450px;
	display: inline-block;
}
#inicio{
	width: 500px;
	height: 450px;
	display: inline-block;
}

#sobreMim{
	width: 500px;
	display: none;
}
#formação{
	width: 500px;
	display: none;
}
#cursos{
	width: 500px;
	display: none;
}
#experiência{
	width: 500px;
	display: none;
}
#habilidades{
	width: 500px;
	display: none;
}
#contato{
	margin-top: 175px;
}
#email{
	background: url(imagens/iconeEmail.png) no-repeat;
	background-position: 115px;
}
#whatsApp{
	background: url(imagens/iconeWhatsApp.png) no-repeat;
	background-position: 160px;
}
#gitHub{
	background: url(imagens/iconeGitHub.png) no-repeat;
	background-position: 105px;
}
.clear{
	clear: both;
}
@keyframes body{
	from{
		background: #000;
	}
	to{
		background: #0F0F0F;
	}
}
@keyframes animacaoNome{
	0%{
		font-size: 0.5em;
		left: -500px;
	}
	50%{
		left: 2%;
	}
	100%{
		font-size: 2em;	
		left: -1%;
	}

}
@keyframes animacaoNome1{
	0%{
		color: #1F6FEB;
		font-size: 0.5em;
		left: -500px;
	}
	50%{
		left: 2%;
	}
	100%{
		color: #fff;
		font-size: 3em;	
		left: -1%;
	}
}
#apresentação1{
	position: relative;
	left: -500px;
	animation: animacaoNome 1s  forwards;
}
#apresentação2{
	position: relative;
	left: -500px;
	animation: animacaoNome 1s 0.5s forwards;
}
#apresentação3{
	position: relative;
	left: -500px;
	animation: animacaoNome1 1s 1s forwards;
}
